<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/core.css" />
    <link rel="stylesheet" href="/static/css/new-recruitment.page.css" />
    <title>Teamfinder</title>
  </head>
  <body>
    <div id="main">
      <div class="left"></div>
      <div class="center">
        <form id="recruitment-form">
          <div id="categories">
            <a class="selected category" style="--color: #aaa8af">Catégorie</a>
            <hr />
            <div class="list">
              <% for (const c of categories) { %>
              <a
                class="category"
                onclick="selectCategory('<%= c.id %>', '<%= c.title %>', '<%= c.color %>')"
                style="--color: <%= c.color %>"
                ><%= c.title %></a
              >
              <% } %>
            </div>
          </div>
          <h1>Créer un recrutement</h1>
          <label for="title">Titre</label>
          <input type="text" name="title" class="title-input" />
          <label for="description">Description</label>
          <textarea name="description"></textarea>
          <input type="submit" value="Publier le recrutement" />
        </form>
      </div>
      <div class="right"></div>
    </div>
  </body>
</html>

<script src="/static/js/notifications.js"></script>
<script src="/static/js/topbar.js"></script>
<script>
  const categoriesDOM = document.getElementById('categories')
  categoriesDOM.style.setProperty(
    '--JS-CALCULATED-HEIGHT',
    categoriesDOM.getBoundingClientRect().height + 'px'
  )
  categoriesDOM.classList.add('closed')

  document.querySelector('.selected.category').addEventListener('click', () => {
    categoriesDOM.classList.toggle('closed')
  })

  let selectedCategory = null
  function selectCategory(id, title, color) {
    selectedCategory = id
    const selectedCategoryDOM = document.querySelector('.selected.category')

    selectedCategoryDOM.style.setProperty('--color', color)
    selectedCategoryDOM.innerHTML = title
    categoriesDOM.classList.add('closed')
  }

  /* Form submitting */

  const formDOM = document.getElementById('recruitment-form')
  formDOM.onsubmit = async e => {
    e.preventDefault()
    if (!selectedCategory ?? 0)
      return notify('Veuillez selectionner une categorie', 'error')
    const body = `${new URLSearchParams(
      new FormData(e.target)
    ).toString()}&category_id=${selectedCategory}`
    const response = await fetch('/api/recruitments', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body
    }).then(r => r.json())
    if (response.status === 'ERROR') return notify(response.message, 'error')
    window.location.href = '/'
  }
</script>
